<div class="container mt-58">

  <form (ngSubmit)="onNewEstateFormSubmit()" #newEstate="ngForm">
    <div class="row">
      <div class="col-2"></div>

      <div class="align-center col-8">
        <h2>Publish Estate</h2>

        <hr class="colorgraph">

        <div class="form-group row">
          <label for="action" class="col-4 mt-3">Action</label><br/>
          <div class="col-2"></div>
          <div class="mt-3 col-5 row" id="action">
            <!--style="margin-right: 20px"-->
            <div class="col-2">
              <input type="radio" required ng-model="color.name" name="action" value="rent"
                     [(ngModel)]="requestModel.action">Rent
            </div>
            <div class="col-8"></div>
            <div class="col-2">
              <input type="radio" ng-model="color.name" name="action" value="sell" [(ngModel)]="requestModel.action">Sell
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="type" class="col-4">Type</label>
          <div class="col-2"></div>
          <div class="form-group col-5">
            <select id="type" class="form-control" name="city" [(ngModel)]="requestModel.type" required>
              <option *ngFor="let type of types" value="{{type.typeName}}">{{type.typeName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="city" class="col-4">City</label>
          <div class="col-2"></div>
          <div class="form-group col-5">
            <select id="city" class="form-control" name="city" [(ngModel)]="requestModel.city" required>
              <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="floor" class="col-4">Floor</label>
          <div class="col-2"></div>
          <div class="form-group col-5">
            <input id="floor" type="number" class="form-control" placeholder="Floor"
                   [(ngModel)]="requestModel.floor" name="floor" #floor="ngModel">
          </div>
          <div [hidden]="floor.valid || floor.pristine" class="invalid-feedback">
            Floor must be number between 0 and 100.
          </div>
        </div>

        <div class="form-group row">
          <label for="area" class="col-4">Area</label>
          <div class="col-2"></div>
          <div class="form-group col-5">
            <input id="area" type="number" class="form-control" required placeholder="Area"
                   [(ngModel)]="requestModel.area" name="area">
          </div>
        </div>

        <div class="form-group row">
          <label for="area" class="col-4">Image</label>
          <div class="col-2"></div>
          <div class="form-group col-5">
            <input id="file" type="text" class="form-control" required
                   [(ngModel)]="requestModel.image" name="image">
          </div>
        </div>

        <div class="form-group row">
          <label for="info" class="col-4">Additional Info</label>
          <div class="col-2"></div>
          <div class="form-group col-5">
            <textarea id="info" type="number" class="form-control" placeholder="Additional Info"
                      [(ngModel)]="requestModel.additionalInfo" name="additionalInfo"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="peculiarities" class="col-4">Peculiarities</label>
          <div class="col-2"></div>

          <div id="peculiarities" class="row" *ngFor="let peculiarity of peculiarities; let i = index">
            <div class="col-3">
              <input type="checkbox"
                     [name]="'peculiarities'+i"
                     [(ngModel)]="peculiarity.checked"
                     value="{{peculiarity.id}}">
              {{peculiarity.name}}
              <!--<input type="checkbox" name="peculiarities" value="{{peculiarity.value}}">{{peculiarity.name}}-->
            </div>
          </div>

          <!--<div class="form-group col-5" id="peculiarities">

            <div class="row">
              <div class="col-3"><input type="checkbox" name="peculiarities" value="panel">Panel
              </div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="brick">Brick
              </div>
              &lt;!&ndash;Large-format shuttering&ndash;&gt;
              <div class="col-3"><input type="checkbox" name="peculiarities" value="lfs">LFS</div>
              &lt;!&ndash;creeping formwork&ndash;&gt;
              <div class="col-3"><input type="checkbox" name="peculiarities" value="cfw">CFW</div>
            </div>

            <div class="row">
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">Elevator</div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">In Build</div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">Pool</div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">Trimmer Joists</div>
            </div>

            <div class="row">
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">AirCool</div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">Garage</div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">Furnished</div>
              <div class="col-3"><input type="checkbox" name="peculiarities" value="Car">Panorama View</div>
            </div>

          </div>-->
        </div>

        <hr class="colorgraph">

        <div class="col-12">
          <input type="submit" value="Publish Estate" class="btn btn-success btn-block btn-lg mb-5" tabindex="7"
                 [disabled]="newEstate.form.invalid">
        </div>

      </div>

      <div class="col-2"></div>
    </div>
  </form>

</div>
