<div class="container mt-58">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4 align-center background-img">
    <h1 class="display-3 colored">Welcome to Real Estate Bidding System!</h1>


    <form (ngSubmit)="onFilter()" #filterForm="ngForm">
      <div class="row">
        <div class="col-3">
          <label for="price" class="white">Location</label>
          <select id="city" class="form-control" name="city" [(ngModel)]="searchModel.city" required>
            <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
          </select>
        </div>

        <div class="col-3">
          <label for="area" class="white">Area Under</label>
          <input id="area" type="number" step="0.01" class="form-control" required placeholder="Area"
                 [min]="1" [(ngModel)]="searchModel.area" name="area" #area="ngModel">
          <div [hidden]="area.valid || area.pristine" class="invalid-feedback">
            Area must be valid number.
          </div>
        </div>

        <div class="col-3">
          <label for="price" class="white">Price under</label>
          <input id="price" type="number" step="0.01" class="form-control" required placeholder="Price Per Meter"
                 [min]="1" [(ngModel)]="searchModel.price" name="price" #price="ngModel">

          <div [hidden]="price.valid || price.pristine" class="invalid-feedback">
            Price must be valid decimal.
          </div>
        </div>

        <div class="col-3">
          <label for="filter-btn"></label>
          <button id="filter-btn" type="submit" class="btn btn-primary btn-lg mt-5"
                  [disabled]="filterForm.form.invalid">Filter Estates
          </button>
        </div>
      </div>
    </form>

  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let estate of estates">
      <div class="card" (click)="navigateToDetails(estate.id)">
        <img class="card-img-top" src="{{estate.coverImage.url}}" alt="">
        <div class="card-body">
          <div class="card-title estate-type estate-type">{{estate.type}}</div>
          <div class="card-title estate-city">{{estate.city}}</div>
          <div class="card-title estate-action">For {{estate.action}}</div>
          <p class="card-text estate-info">{{estate.additionalInfo | slice:0:28}}...</p>
        </div>
      </div>
    </div>

    <div class="col-12 mb-4" (click)="loadNextPage()">
      <button class="btn btn-block btn-info">Load More</button>
    </div>

  </div>
</div>
