<div class="container mt-58 align-center" *ngIf="profilePageUser">

  <h1>{{profilePageUser.firstName + ' ' + profilePageUser.lastName}}</h1>

  <div class="card">
    <div class="card-body" *ngIf="!isEditBtnClicked && !isDeleteBtnClicked">
      <div class="form-group">
        <p class="col-form-label">Email</p>
        <p class="col-form-label font-weight-light">{{profilePageUser.email}}</p>
      </div>
      <div class="form-group">
        <p class="col-form-label">Town</p>
        <p class="col-form-label font-weight-light">{{profilePageUser.town}}</p>
      </div>
      <div class="form-group">
        <p class="col-form-label">Telephone</p>
        <p class="col-form-label font-weight-light" *ngIf="profilePageUser.telephone">{{profilePageUser.telephone}}</p>
        <p class="col-form-label font-weight-light" *ngIf="!profilePageUser.telephone">-</p>
      </div>
    </div>

    <div class="card-body" *ngIf="isEditBtnClicked && !isDeleteBtnClicked">
      <h3>Edit Account</h3>

      <form (ngSubmit)="onProfileEditSubmit()" #editProfileForm="ngForm" class="app-form">
        <div class="row">
          <div class="col-2"></div>

          <div class="align-center col-8">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <input type="password" class="form-control" id="current-password"
                         placeholder="Current Password"
                         pattern="^[\w\d]{6,20}$"
                         [(ngModel)]="editUserRequestModel.currentPassword"
                         name="current-password"
                         #currentPassword="ngModel">
                </div>
                <div [hidden]="currentPassword.valid || currentPassword.pristine" class="invalid-feedback">
                  Current Password must be between 6 and 20 symbols and must contain only letters and digits.
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" id="new-password"
                         placeholder="New Password"
                         pattern="^[\w\d]{6,20}$"
                         [(ngModel)]="editUserRequestModel.newPassword"
                         name="new-password"
                         #newPassword="ngModel">
                </div>
                <div [hidden]="newPassword.valid || newPassword.pristine" class="invalid-feedback">
                  New Password must be between 6 and 20 symbols and must contain only letters and digits.
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" id="confirm"
                         pattern="^[\w\d]{6,20}$"
                         placeholder="Confirm New Password"
                         [(ngModel)]="editUserRequestModel.confirm"
                         name="confirm"
                         #confirm="ngModel">
                </div>
                <div [hidden]="confirm.value === newPassword.value || confirm.pristine" class="invalid-feedback">
                  Both passwords must match.
                </div>
              </div>

              <div class="valid-feedback">
                Current password is mandatory in order to validate your identity.
              </div>
            </div>

            <hr class="colorgraph">

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="firstName"
                         placeholder="First Name"
                         pattern="^[A-Z][a-z]{2,29}$"
                         [(ngModel)]="editUserRequestModel.firstName"
                         name="firstName"
                         #firstName="ngModel">
                </div>
                <div [hidden]="firstName.valid || firstName.pristine" class="invalid-feedback">
                  Names must contain only letters, start with a capital letter and must be between 3 and 30 symbols.
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="lastName"
                         placeholder="Last Name"
                         pattern="^[A-Z][a-z]{2,29}$"
                         [(ngModel)]="editUserRequestModel.lastName"
                         name="lastName"
                         #lastName="ngModel">
                </div>
                <div [hidden]="lastName.valid || lastName.pristine" class="invalid-feedback">
                  Names must contain only letters, start with a capital letter and must be between 3 and 30 symbols.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="town"
                         placeholder="Town"
                         pattern="^[A-Z][a-z]{2,29}$"
                         [(ngModel)]="editUserRequestModel.town"
                         name="town"
                         #town="ngModel">
                </div>
                <div [hidden]="town.valid || town.pristine" class="invalid-feedback">
                  Town must contain only letters, start with a capital letter and must be between 3 and 30 symbols.
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="tel" class="form-control" id="telephone"
                         placeholder="Telephone"
                         pattern="(^$|[0-9]{10})"
                         [(ngModel)]="editUserRequestModel.telephone"
                         name="telephone"
                         #telephone="ngModel">
                </div>
                <div [hidden]="telephone.valid || telephone.pristine" class="invalid-feedback">
                  Invalid phone format.
                </div>
              </div>
            </div>

            <div class="col-12">
              <input type="submit" value="Save Changes" class="btn btn-success btn-block btn-lg" tabindex="7"
                     [disabled]="editProfileForm.form.invalid ||
                     confirm.value !== newPassword.value ||
                     editProfileForm.pristine === true">
            </div>
          </div>

          <div class="col-2"></div>

        </div>

      </form>
    </div>

    <div class="card-body" *ngIf="!isEditBtnClicked && isDeleteBtnClicked">
      <h3>Disable Account</h3>

      <form (ngSubmit)="onProfileDeleteSubmit()" #deleteProfileForm="ngForm" class="app-form">
        <div class="row">
          <div class="col-2"></div>

          <div class="align-center col-8">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="email" readonly [value]="profilePageUser.email">
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [value]="profilePageUser.firstName" readonly>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" readonly [value]="profilePageUser.lastName">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [value]="profilePageUser.town" readonly>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="tel" class="form-control" [value]="profilePageUser.telephone" readonly>
                </div>
              </div>
            </div>

            <div class="col-12">
              <input type="submit" value="Disable Account" class="btn btn-danger btn-block btn-lg" tabindex="7">
            </div>
          </div>

          <div class="col-2"></div>

        </div>

      </form>
    </div>

    <div class="form-group">
      <button class="btn btn-info">Add</button>
      <button *ngIf="hasAuthorities" (click)="onEdit()" class="btn btn-warning">Edit</button>
      <button *ngIf="hasAuthorities" (click)="onDelete()" class="btn btn-danger">Delete</button>
    </div>

  </div>

</div>
