<div class="container mt-58">
  <h2>Idea</h2>
  <p>Bidding system that allows users to sell their estates at best price for them (by providing the ability to
    bid).</p>

  <h2>Design</h2>
  <p>The application is split into four parts.</p>

  <h2>Main area</h2>
  <ul>
    <li>Guests are allowed to view public content only: view estates as well as filter them, estate details, last bid
      for estate value.
    </li>
  </ul>

  <h2>Admin area</h2>
  <ul>
    <li>Admins can manage all estates and perform all crud operations on them.</li>
    <li>Admins can view all users and perform all crud operations on them.</li>
    <li>Admins can make other users admins as well.</li>
  </ul>

  <h2>User area</h2>
  <ul>
    <li>Users can edit/disable their accounts.</li>
    <li>Users can edit/delete their own estates.</li>
    <li>Users can add estates for sale/rent and set it's initial price.</li>
    <li>Users can bid for other users estates.</li>
    <li>Users can view and filter their own published estates as well all estates they have bid for.</li>
  </ul>

  <h2>Additional</h2>
  <p>Each user has a profile page.</p>

</div>
